<html>

<head>
    <meta charset="UTF-8">
    <title>경고문</title>
</head>
<style>
    .title {
        font-family: "궁서체";
        font-size: 20pt;
    }
    
    .content {
        font-family: "바탕체";
    }
    
    .end {
        font-family: "돋움체";
    }
    
    body {
        text-align: center;
    }
</style>

<body>
    <div class="title">
        경&nbsp;&nbsp;&nbsp;&nbsp;고
    </div>
    <div class="content">
        <p>
            본 장치는 <u>소방법 시행령 제 30조</u> 5항에 의거 <br>
            화재 등의 재난시 안전한 대피를 위하여 설치한<br>
            <i>"피난용 휴대용 비상 조명등"</i> 입니다.<br>
        </p>
        <p>
            이 장치를 훼손 또는 절취할 경우 비상시 타인의 안전에<br>
            위협을 주게 되므로 <font color="red">법적 처벌</font>을 받게 됩니다.<br>
        </p>
    </div>
    <div class="end">
        서울특별시 중구소방서 1234-5678
    </div>
</body>

</html>