<html>

<head>
    <title>
        2010112406 박도령 - 메인 페이지
    </title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
        body {
            background-color: #dddddd;
        }
    </style>
    <charset: "utf-8">
</head>

<body>
    <h3>
    이름: 박도령<br> 학번: 2010112406<br> 학과: 컴퓨터공학과<br> 소속: 동국대학교<br>
    </h3>
    </hr>

</body>

</html>