<html>

<head>
    <meta charset="UTF-8">
    <title>절대음감</title>
</head>

<body>

    <font size="5">
        <font color="red" size="7">단</font>팥맛통찐빵
        <br> 단
        <font color="orange" size="7">팥</font>맛통찐빵
        <br> 단팥
        <font color="yellow" size="7">맛</font>통찐빵
        <br> 단팥맛
        <font color="green" size="7">통</font>찐빵
        <br> 단팥맛통
        <font color="blue" size="7">찐</font>빵
        <br> 단팥맛통찐
        <font color="navy" size="7">빵 </font><br>
    </font>

</body>

</html>