{% load staticfiles %}
<html>

<head>
    <title>Doryeong Park's Blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    <!-- JQuery Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        $(function() {
            window.onload = function() {

                var url = $(location).attr('href');
                if (~url.indexOf('cpp')) {
                    $("#menu_cpp").addClass("active");
                } else if (~url.indexOf('htmlcss')) {
                    $("#menu_htmlcss").addClass("active");
                } else if (~url.indexOf('java')) {
                    $("#menu_java").addClass("active");
                } else if (~url.indexOf('cs')) {
                    $("#menu_cs").addClass("active");
                } else if (~url.indexOf('py')) {
                    $("#menu_py").addClass("active");
                } else if (~url.indexOf('home')) {
                    $("#menu_home").addClass("active");
                }
            }
        });
    </script>
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url " home " %}">Doryeong Park's IT Blog</a>
            </div>
            <ul class="nav navbar-nav">
                <li id="menu_home"><a href="{% url " home " %}">Home</a></li>
                <li id="menu_htmlcss"><a href="{% url " htmlcss_home " %}">HTML/CSS</a></li>
                <li id="menu_cpp"><a href="{% url " cpp_home " %}">C++</a></li>
                <li id="menu_java"><a href="{% url " java_home " %}">Java</a></li>
                <li id="menu_cs"><a href="{% url " cs_home " %}">C#</a></li>
                <li id="menu_py"><a href="{% url " py_home " %}">Python</a></li>
                <li id="menu_js"><a href="{% url ' js_home ' %}">Internet Programming</a></li>"
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li><a href="#"> Welcome! &nbsp;&nbsp;{{ user }}</a></li>
                <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-remove-sign"></span> Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-ok-sign"></span> Login</a></li>
                {% endif %}
                <li><a href="{% url ' post_new ' %}"><span class="glyphicon glyphicon-plus"></span> Add Post</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-8 blog-main">
                {% block content %}{% endblock %}
            </div>

            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">

            </div>
        </div>
    </div>

    <hr>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 blog-bottom">
                <div class="jumbotron">
                    <h5>
                        <center>
                            Mail: zzada0520@gmail.com
                            <br>
                            <br> <a href="https://github.com/DoryeongPark"> GitHub: https://github.com/DoryeongPark </a>
                        </center>
                    </h5>
                </div>
            </div>
        </div>

    </div>
</body>

</html>