{% load staticfiles %}
<html>

<head>
    <title>Doryeong Park's IT Blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>

    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a class="blog-nav-item active" href="#">Home</a>
                <a class="blog-nav-item" href="#">C++</a>
                <a class="blog-nav-item" href="#">Java</a>
                <a class="blog-nav-item" href="#">C#</a>
                <a class="blog-nav-item" href="#">Python</a>
                <a class="blog-nav-item" href="#">Internet Programming Exercises</a>
            </nav>
        </div>
    </div>

    <div class="blog-container">
        <div class="row">
            <div class="col-sm-8 blog-main">
                Main {% block content %}{% endblock %}
            </div>

            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                SideBar
            </div>
        </div>
    </div>

</body>

</html>