{% load staticfiles %}
<html>

<head>
    <title>Doryeong Park's IT Blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    <!-- JQuery Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        $(function() {
            window.onload = function() {

                var url = $(location).attr('href');

                if (~url.indexOf('cpp')) {
                    $("#menu_cpp").addClass("active");
                } else if (~url.indexOf('java')) {
                    $("#menu_java").addClass("active");
                } else if (~url.indexOf('cs')) {
                    $("#menu_cs").addClass("active");
                } else if (~url.indexOf('py')) {
                    $("#menu_py").addClass("active");
                } else if (~url.indexOf('exercise')) {
                    $("#menu_exercise").addClass("active");
                } else {
                    $("#menu_home").addClass("active");
                }
            }
        });
    </script>
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url " home " %}">Doryeong Park's IT Blog</a>
            </div>
            <ul class="nav navbar-nav">
                <li id="menu_home"><a href="{% url " home " %}">Home</a></li>
                <li id="menu_cpp"><a href="{% url " cpp_home " %}">C++</a></li>
                <li id="menu_java"><a href="{% url " java_home " %}">Java</a></li>
                <li id="menu_cs"><a href="{% url " cs_home " %}">C#</a></li>
                <li id="menu_py"><a href="{% url " py_home " %}">Python</a></li>
                <li id="menu_exercise"><a href="{% url " exercise_home " %}">Internet Programming Assignments</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url " post_new " %}"><span class="glyphicon glyphicon-plus"></span> Add Post</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-8 blog-main">
                {% block content %}{% endblock %}
            </div>

            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">

            </div>
        </div>
    </div>

</body>

<hr>

<div class="container">
    <div class="row">
        <div class="col-sm-12 blog-bottom">
            <div class="jumbotron">
                <h5>
                    <center>
                    Mail: zzada0520@gmail.com
                    <br>
                    <br>
                    GitHub: https://github.com/DoryeongPark
                    </center>
                </h5>
            </div>
        </div>
    </div>

</div>

</html>