{% extends 'blog/base.html' %} {% block content %}
<h2 style="font-family:'맑은 고딕';">Doryeong Park's Blog</h2>

<p>
    이 블로그는 개인 학습용 블로그입니다. 운영자는 동국대학교 컴퓨터공학과에 재학 중인 학생으로서 그 동안 공부했던 지식들 중 일부 내용을 이 블로그를 통해 포스팅하고 있습니다. 
</p>
<hr>
<p>
    <div class="alert alert-info">
        <strong>HTML/CSS</strong>
        <br>일반인들도 쉽게 할 수 있는 프로그래밍이 웹페이지 만들기입니다. 웹페이지를 만드는 데에 삼위일체라고 할 수 있는 HTML/CSS/JavaScript 중 배우기 쉬운 HTML과 CSS의 기초적인 문법에 대해서 포스팅합니다.  
    </div>
</p>
<hr>
<p>
    <div class="alert alert-info">
        <strong>C++</strong>
        <br>현업에 많이 쓰이고 있는 객체지향 언어로써 C언어의 문법을 그대로 사용할 수 있습니다. 기능이 많아 매우 유연하고 강력한 언어지만 그만큼 사용하기 여럽고 복잡한 면이 있습니다. 하지만 속도 면에 있어서는 객체지향 언어 중에서 가장 빠르기 때문에 Java를 주로 사용하는 안드로이드 개발에서도 성능 향상을 위해 종종 쓰이기도 합니다. C++의 기본 문법과 STL 자료구조 라이브러리, 그리고 Modern C++에서 쓰이는 고급 문법에 대해 포스팅 합니다. 
    </div>
</p>
<hr>
<div class="alert alert-info">
    <strong>Java</strong>
    <br>현재 가장 많이 쓰이고 있으며 안드로이드 개발에 많이 쓰이고 있는 객체지향 언어입니다. Java로 만들어진 애플리케이션은 JVM만 있으면 어떤 환경에서든 실행될 수 있다는 것이 특징입니다. C++이나 C#에 비해서 배우기 쉬워 객체지향 언어 공부에 입문하기에 부담이 없습니다. Java의 문법과 예제를 포스팅할 것이며, 그 이후 안드로이드 개발에 대해서 포스팅 합니다.
</div>
<hr>
<p>
    <div class="alert alert-info">
        <strong>C#</strong>
        <br>.NET 플랫폼에서 동작하는 객체지향 언어로써 GUI를 구현하기 편리하도록 만들어진 것이 특징입니다. Java보다 더 많은 기능을 제공하고 있습니다. 이벤트 기반 프로그램을 만드는 데에 매우 편리합니다.  
    </div>
</p>

<hr>
<p>
    <div class="alert alert-info">
        <strong>Python</strong>
        <br>다양한 응용 애플리케이션에서 스크립트 언어로 많이 사용되고 있는 언어입니다. 보통 Python은 순수한 프로그램 언어로서의 기능 외에도 다른 언어로 쓰인 모듈들을 연결하는 중간 언어의 역할도 수행합니다. 직관적이고 간결한 문법과 괄호 대신 Indent를 사용하는 것 특징입니다. 이 웹사이트의 로직은 모두 Python으로 작성되었습니다. Python의 예제와 문법은 12월에 포스팅할 예정입니다.
    </div>
</p>

<hr> {% endblock %}