{% extends 'blog/base.html' %} {% block content %}
<div class="post">
    {% if post.published_date %}
    <div class="date">
        {{ post.published_date }}
    </div>
    {% endif %}
    <a class="btn btn-default" href="{% url " post_edit " pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    <h3>{{ post.name }}</h3>
    <hr>
    <br>
    <p>{% autoescape off %}{{ post.class_detail }}{% endautoescape %}</p>
    <hr> {% for comment in post.comment_set.all %}
    <p>
        {{ comment.author }}
    </p>
    <p>
        {{ comment.comment }}
    </p>
    <hr> {% endfor %}
    <a href="{% url " comment_new " post.pk %}" class="btn btn-primary">댓글달기</a>
</div>
{% endblock %}